<!doctype html>
<html lang="en" ng-app="ngApp">

<head>
    <meta charset="utf-8">

    <title>TDD in JavaScript with AngularJS</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/night.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

</head>

<body>

<div class="reveal">

    <div class="slides">

        <section>
            <h2>TDD in JavaScript</h2>

            <h3>with AngularJS</h3>

            <p>Workshop prepared by Pawel Kozlowski for Allegro</p>
            <p>16 - 17 December 2013</p>
            <p>
                <small>
                    <a href="mailto:pkozlowski.opensource@gmail.com">pkozlowski.opensource@gmail.com</a> /
                    <a href="https://twitter.com/pkozlowski_os">@pkozlowski_os</a>
                </small>
            </p>
        </section>

        <%= include('slides/inc/day1/01_about_me.html') %>

        <%= include('slides/inc/day1/02_about_you.html') %>

        <%= include('slides/inc/day1/03_practical_info.html') %>

        <section>
            <h1>Day 1</h1>
            <ul>
                <li>Introduction to JavaScript testing with Jasmine</li>
                <li>Introduction to AngularJS framework</li>
                <li>Basics of the AngularJS rendering engine</li>
                <li>AngularJS Dependency Injection and module system</li>
                <li>Filters - role, limitations and testing</li>
            </ul>
            <hr/>
            <ul>
                <li>Promise API with $q</li>
                <li>Testing asynchronous services ($http, $q, $timeout)</li>
                <li>XHR in AngularJS - $http and $resource services</li>
            </ul>
        </section>

        <%= include('slides/inc/day1/04_jasmine.html') %>

        <%= include('slides/inc/day1/05_meet_ng.html') %>

        <%= include('slides/inc/day1/06_rendering.html') %>

        <%= include('slides/inc/day1/07_modules.html') %>

        <%= include('slides/inc/day1/08_filters.html') %>

        <%= include('slides/inc/day1/09_promises.html') %>

        <%= include('slides/inc/day1/10_async_testing.html') %>

        <%= include('slides/inc/day1/11_http.html') %>

        <section>
            <h1>That's it for today</h1>
            <h4>See you tomorrow at 09:00 a.m.</h4>
        </section>

    </div>
</div>

<script src="lib/js/head.min.js"></script>
<script src="../lib/angular.js"></script>
<script src="js/ngApp.js"></script>
<script src="js/reveal.min.js"></script>

<script>

    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        minScale: 0.2,
        maxScale: 3.0,

        dependencies: [
            { src: 'lib/js/classList.js', condition: function () {
                return !document.body.classList;
            } },
            { src: 'plugin/highlight/highlight.js', async: true, callback: function () {
                hljs.initHighlightingOnLoad();
            } },
            { src: 'plugin/zoom-js/zoom.js', async: true, condition: function () {
                return !!document.body.classList;
            } }
        ]
    });

</script>

</body>
</html>
