<!doctype html>
<html lang="en" ng-app="ngApp">

<head>
    <meta charset="utf-8">

    <title>TDD in JavaScript with AngularJS</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/night.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">
</head>

<body>

<div class="reveal">

    <div class="slides">

        <section>
            <h2>TDD in JavaScript</h2>

            <h3>with AngularJS</h3>

            <p>Workshop prepared by Pawel Kozlowski for Allegro</p>
            <p>16 - 17 December 2013</p>
            <p>
                <small>
                    <a href="mailto:pkozlowski.opensource@gmail.com">pkozlowski.opensource@gmail.com</a> /
                    <a href="https://twitter.com/pkozlowski_os">@pkozlowski_os</a>
                </small>
            </p>
        </section>

        <%= include('slides/inc/day1/01_about_me.html') %>

        <%= include('slides/inc/day1/02_about_you.html') %>

        <%= include('slides/inc/day1/03_practical_info.html') %>

        <section>
            <h1>Day 1</h1>
            <ul>
                <li>Introduction to JavaScript testing with Jasmine</li>
                <li>Introduction to AngularJS framework</li>
                <li>Basics of the AngularJS rendering engine</li>
            </ul>
            <hr/>
            <ul>
                <li>AngularJS Dependency Injection and module system</li>
                <li>Filters - role, limitations and testing</li>
                <li>Promise API with $q</li>
            </ul>
        </section>

        <%= include('slides/inc/day1/04_jasmine.html') %>

        <%= include('slides/inc/day1/05_meet_ng.html') %>

        <%= include('slides/inc/day1/06_rendering.html') %>

        <%= include('slides/inc/day1/07_modules.html') %>

        <%= include('slides/inc/day1/08_filters.html') %>

        <%= include('slides/inc/day1/09_promises.html') %>

        <section>
            <h1>That's it for today</h1>
            <h4>See you tomorrow at 09:00 a.m.</h4>
        </section>

        <section>
            <h2>Day 2</h2>
            <ul>
                <li>Testing asynchronous services ($http, $q, $timeout)</li>
                <li>XHR in AngularJS - $http service</li>
                <li>Directives and DOM-based unit testing</li>
                <hr/>
                <li>Performance characteristics of AngularJS</li>
                <li>Q&A or any other custom topics</li>
                <li>Continuing your journey with AngularJS</li>
            </ul>
        </section>

        <%= include('slides/inc/day1/10_async_testing.html') %>

        <%= include('slides/inc/day1/11_http.html') %>

        <%= include('slides/inc/day2/12_directives.html') %>

        <section>

            <section>
                <h2>Guide to fast tests</h2>
                <img src="http://www.hdwallpapersinn.com/wp-content/uploads/2012/06/ferrari_hd_widescreen-wide.jpg" alt=""/>
            </section>

            <section>
                <h2>Rules to follow</h2>
                <ul>
                    <li>Simulate asynchronous operations with synchronous calls</li>
                    <li>Preload templates into $templateCache</li>
                    <li>Work with DOM fragments</li>
                </ul>
            </section>

        </section>

        <section>
            <h1>AngularJS internals</h1>
            <img src="http://ak3.picdn.net/shutterstock/videos/1374163/preview/stock-footage--d-background-with-endless-complex-clockwork-machinery-loop-depth-of-field.jpg" alt=""/>
        </section>

        <section>

            <section>
                <h1>On your own</h1>
                <img src="http://pl.gerbergear.com/var/gerber_int/storage/images/frontpage/survival/gear/ultimate-kit_31-000701/299021-1-eng-US/Bear-Grylls-Survival-Series-Ultimate-Kit_fulljpg.jpg"
                     alt=""/>
            </section>

            <section>
                <h2>Learning</h2>
                <ul>
                    <li><a href="http://egghead.io/" target="_blank">egghead.io</a></li>
                    <li>Books</li>
                    <li><a href="http://www.youtube.com/channel/UCbn1OgGei-DV7aSRo_HaAiw" target="_blank">YouTube AngularJS channel</a></li>
                </ul>
            </section>

            <section>
                <h2>Getting help</h2>
                <ul>
                    <li>StackOverflow - <a href="http://stackoverflow.com/questions/tagged/angularjs" target="_blank">angularjs</a></li>
                    <li><a href="mailto:angular@googlegroups.com">angular@googlegroups.com</a></li>
                    <li>#angularjs freenode IRC</li>
                </ul>
            </section>

            <section>
                <h2>Help us to help you</h2>
                <ul>
                    <li>Do your homework</li>
                    <li>Be clear and concise</li>
                    <li>Minimal reproduce scenario with plunker</li>
                    <li>Ask <a href="http://www.catb.org/~esr/faqs/smart-questions.html" target="_blank">smart questions</a></li>
                </ul>
            </section>

            <section>
                <h2>Contributting to AngularJS</h2>
                <h3>Issues</h3>
                <ul>
                    <li>Good, minimal reproduce scenario is the key</li>
                    <li>A failing unit test is even better!</li>
                    <li>Testing the latest build</li>
                </ul>
            </section>

            <section>
                <h2>Contributting to AngularJS</h2>
                <h3>Pull requests</h3>
                <ul>
                    <li>Opening a good pull request</li>
                    <li>The process: CLI, commit conventions etc.</li>
                </ul>
            </section>

        </section>

        <section>
            <h1>That's all!</h1>
            <h3>Thank you for having me.</h3>
        </section>

        <section>
            <img src="http://www.e-sochaczew.pl/foto_news/8956_bombka.jpg" alt=""/>
        </section>

    </div>
</div>

<script src="lib/js/head.min.js"></script>
<script src="../lib/angular.js"></script>
<script src="js/ngApp.js"></script>
<script src="js/reveal.min.js"></script>

<script>

    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        minScale: 0.2,
        maxScale: 3.0,

        dependencies: [
            { src: 'lib/js/classList.js', condition: function () {
                return !document.body.classList;
            } },
            { src: 'plugin/highlight/highlight.js', async: true, callback: function () {
                hljs.initHighlightingOnLoad();
            } },
            { src: 'plugin/zoom-js/zoom.js', async: true, condition: function () {
                return !!document.body.classList;
            } }
        ]
    });

</script>

</body>
</html>
