<!doctype html>
<html lang="en" ng-app>

	<head>
		<meta charset="utf-8">

		<title>TDD in JavaScript with AngularJS</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/night.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

	</head>

	<body>

		<div class="reveal">

			<div class="slides">

                <section>
					<h2>TDD in JavaScript</h2>
					<h3>with AngularJS</h3>
                    <p>Workshop prepared by Pawel Kozlowski for Allegro</p>
					<p>
						<small>
                            <a href="mailto:pkozlowski.opensource@gmail.com">pkozlowski.opensource@gmail.com</a> /
                            <a href="https://twitter.com/pkozlowski_os">@pkozlowski_os</a>
                        </small>
					</p>
				</section>

                <%= include('slides/inc/day1/01_about_me.html') %>

                <%= include('slides/inc/day1/02_about_you.html') %>

                <%= include('slides/inc/day1/03_practical_info.html') %>

                <section>
                    <h2>Day 1</h2>
                    <ul>
                        <li>Introduction to JavaScript testing with Jasmine</li>
                        <li>Introduction to AngularJS framework</li>
                        <li>Basics of the AngularJS rendering engine</li>
                        <li>AngularJS Dependency Injection and module system</li>
                        <li>Filters - role, limitations and testing</li>
                        <li>Promise API with $q</li>
                        <li>XHR in AngularJS - $http and $resource services</li>
                        <li>Testing asynchronous services ($http, $q, $timeout)</li>
                    </ul>
                </section>

                <!-- 01 - Introduction to Jasmine -->
                <section>
                    <section>
                        <h2>Introduction to JavaScript testing with Jasmine</h2>
                        <img src="http://pivotal.github.io/jasmine/images/jasmine_logo.png" />
                    </section>
                    <section>
                        <h2>Jasmine</h2>
                        <a href="http://pivotal.github.io/jasmine/">http://pivotal.github.io/jasmine/</a>
                        <br><br>
                        <ul>
                            <li>JavaScript testing framework</li>
                            <li>BDD roots reflected in methods naming</li>
                            <li>Build-in mocking capabilities</li>
                            <li>Build-in matchers</li>
                            <li>Multiple runners</li>
                        </ul>
                    </section>

                    <section>
                        <h3>Anatomy of a Jasmine test</h3>
<pre><code ng-non-bindable><%= includeJs('src/01_jasmine_intro/userstorage.spec.js', 'test') %></code></pre>
                    </section>

                    <section>
                        <h1>Exercise</h1>
                        <h2>30 min</h2>
                        <p>Write and run Jasmine tests for a simple <i>UserStorage</i> class.</p>
                        <p>There is a skeleton of a class and a test ready.</p>
                    </section>
                </section>

                <!-- 02 - Introduction to AngularJS -->

                <section>
                    <section>
                        <h1>Meet AngularJS</h1>
                        <img src="https://raw.github.com/angular/angular.js/master/images/logo/AngularJS-Shield.exports/AngularJS-Shield-large.png"/>
                    </section>
                    <section>
                        <h2>AngularJS framework</h2>
                        <ul>
                            <li>Complete solution for in-browser web applications</li>
                            <li>Started and maintained by Google</li>
                            <li>Open source, many contributors outside Google</li>
                            <li>Revolutionary in several aspects</li>
                            <li>Strong focus on testability</li>
                        </ul>
                    </section>
                    <section>
                        <h2>Hello, {{name}}!</h2>
                        <input type="text" ng-model="name"/>
<pre><code ng-non-bindable>
<%= includeHtml('src/02_angularjs_intro/index.html') %>
</code></pre>
                    </section>
                </section>

                <!-- 03 - AngularJS rendering engine -->

                <!-- 04 - AngularJS modules and DI -->

                <%= include('slides/inc/day1/05_filters.html') %>

                <%= include('slides/inc/day1/06_promises.html') %>

                <!-- 07 - Communicating with a back-end in AngularJS - $http -->

                <!-- 08 - Communicating with a restful back-end in AngularJS - $resource and $http -->

                <section>
                    <h1>That's it for today</h1>
                    <h4>See you tomorrow at 09:00 a.m.</h4>
                </section>

                <section>
                    <h1>That's all!</h1>
                    <h3>Thank you for having me.</h3>
                </section>

			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
        <script src="../lib/angular.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

                theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

                minScale: 0.2,
                maxScale: 3.0,

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
