<section>

    <section>
        <h1>Meet AngularJS</h1>
        <img src="https://raw.github.com/angular/angular.js/master/images/logo/AngularJS-Shield.exports/AngularJS-Shield-large.png"/>
    </section>

    <section>
        <h2>AngularJS framework</h2>
        <ul>
            <li>Complete solution for in-browser web applications</li>
            <li>Created and maintained by Google</li>
            <li>Open source, many contributors from outside of Google</li>
            <li>Started over 4 years ago, exploding popularity</li>
            <li>Revolutionary in several aspects</li>
            <li>Strong focus on testability</li>
        </ul>
    </section>

    <section>
        <h2>Be ready to rewrite your brain!</h2>
        <br/>
        <blockquote>
            I hereby declare AngularJS to be MVW framework - Model-View-Whatever. Where Whatever stands for "whatever works for you".
        </blockquote>
        <br/>
        <p><i>Igor Minar</i></p>
    </section>

    <section>
        <h2>and doubt from time to time...</h2>
        <img src="http://www.bennadel.com/resources/uploads/2013/feelings_about_angularjs_over_time.png" alt=""/>
    </section>

    <section>
        <h2>Hello, {{name}}!</h2>
        <input type="text" ng-model="name"/>
        <pre><code ng-non-bindable><%= includeHtml('src/02_angularjs_intro/index.html') %></code></pre>
    </section>

    <section>
        <h2>Bits and pieces</h2>
        <ul>
            <li><a href="www.angularjs.org" target="_blank">www.angularjs.org</a></li>
            <li><a href="code.angularjs.org" target="_blank">code.angularjs.org</a></li>
        </ul>
    </section>

    <section>
        <h1>Exercise</h1>
        <h2 stopwatch="5"></h2>
        <p>Create your first "Hello World!" application with AngularJS!</p>
    </section>

</section>
