<section>

    <section>
        <h2>More on asynchronous testing</h2>
        <img src="http://farm1.staticflickr.com/185/376073377_71dfc9eb04.jpg" alt=""/>
    </section>

    <section>
        <h2>How to test this controller?</h2>
        <pre><code ng-non-bindable><%= includeJs('src/07_async_testing/timeoutNotify.js') %></code></pre>
    </section>

    <section>
        <h2>Time machine to the rescue!</h2>
        <pre><code ng-non-bindable><%= includeJs('src/07_async_testing/timeoutNotify.spec.js', 'time') %></code></pre>
    </section>

    <section>
        <h2>AngularJS mocks allow us to preserve asynchronous semantics</h2>
        <h2>... and execute code in the synchronous way!</h2>
    </section>

</section>