<!DOCTYPE html>
<html ng-app>
<head>
    <link rel="stylesheet" href="../../assets/bootstrap.css"/>
    <script src="../../lib/angular.js"></script>
    <script src="../01_jasmine_intro/userstorage.js"></script>
    <script src="users.js"></script>
</head>
<body ng-controller="UsersCtrl">

<div class="well">
    <h3>Manage users</h3>
    <form>
        <div class="form-group">
            <label for="id">Id: </label>
            <input type="text" value="{{user.id || 'A new user'}}" readonly id="id" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="login">Login: </label>
            <input type="text" ng-model="user.login" id="login" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="name">Name: </label>
            <input type="text" ng-model="user.name" id="name" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="birthDate">Date of birth: </label>
            <input type="text" ng-model="user.birthDate" id="birthDate" class="form-control"/>
        </div>
        <button ng-click="save()" ng-disabled="!hasEdits()" class="btn btn-primary">Save</button>
        <button ng-click="clear()" ng-disabled="!hasEdits()" class="btn btn-warning">Clear</button>
    </form>
</div>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Login</th>
        <th>Name</th>
        <th>Date of birth</th>
        <th>Tools</th>
    </tr>
    <tr ng-repeat="user in users">
        <td>{{user.id}}</td>
        <td>{{user.login}}</td>
        <td>{{user.name}}</td>
        <td>{{user.dateOfBirth}}</td>
        <td>
            <a ng-click="edit(user)">Edit</a>
            <a ng-click="remove(user.id)">Remove</a>
        </td>
    </tr>
</table>
</body>
</html>